
<style>
	body{
		background-color: #E7EBF2;
	}
</style>
<div class="container">
	<h3>MPC BaseCamp & Hackathon</h3>
	<p>Deskripsi : </p>
	<p style="text-align:justify">Event BaseCamp adalah event yang diselenggarakan MPC untuk para anggota MPC yang mau belajar tentang cara membuat Web Application. Di event ini kami akan mengajarkan anda berbagai hal yang diperlukan untuk membuat suatu Aplikasi Web yang nantinya akan kalian implementasikan di perlombaan Hackathon <br> <br>Event Hackathon adalah event yang diselenggarakan MPC untuk para anggota MPC yang sudah mengikuti BaseCamp untuk memperlombakan Web Application terbagus menurut kami yang akan memenangi event ini. Di dalam Event ini, kalian harus membentuk 1 tim yang terdiri dari maksimum 4 orang dan setiap tim membuat Web Application masing-masing dalam waktu 1 hari secara non-stop.</p>
	<b> Jadwal & Tanggal Pelaksanaan : </b>
	<p> Waktu : <br> BaseCamp : 11-14 Maret 2015 <br> Hackathon : 15 Maret 2015 </p>
	<p> Pukul : 14:00 - 16:00 WIB </p>
	<p> Lokasi : <b>Kami akan memberitahukan secepatnya. Dan pastinya akan berada di lingkungan Mikroskil</b></p>
	<b> Syarat : </b>
	<ul>
		<li>Merupakan mahasiswa Mikroskil</li>
		<li>Setidaknya sudah mengetahui alur HTML, CSS, JavaScript</li>
		<li>Membayar uang pendaftaran Rp. 50.000,-</li>
	</ul>
</div>
<div class="container" style="text-align:center">
	<b>Hitung Mundur menuju penutupan pendaftaran </b>
</div>
<br><br>
<div class="clock"></div>
<br><br>
<div class = "container" id="daftar">
	<div class="jumbotron" id="info">
		<h3 class="_sign">Form Pendaftaran BaseCamp & Hackathon Event</h3>
				<form action="/user/createPeserta" method="post" class="regsite" id="regsite">
					<div class="control-group">
						<input type="text" class="form-control" placeholder="Nama Anda" name="nama" id="nama" value="">
					</div>
					<div class="control-group">
						<input type="text" class="form-control" placeholder="NIM Anda" name="nim" id="nim" value="">
					</div>
					<div class="control-group">
						<input type="email" class="form-control" placeholder="Email yang bisa dihubungi (Harus Email Mikroskil)" name="email" id="email" value="">
					</div>
					<div class="control-group">
						<input type="text" class="form-control" placeholder="Nomor telepon yang bisa dihubungi" name="notelp" id="notelp" value="">
					</div>
					<input type="submit" class= "btn btn-lg btn-primary btn-block" value="Daftar" id="update">
					<input type="hidden" name="_csrf" value="<%= _csrf %>" />
				</form>
				<hr>
	</div>
<div class="container">
	<footer style="color:black;">
	Copyright &copy; MPC, 2015.
	</footer>
</div>
